h1 {
    text-align: center;
}

.content {
  background: rgb(255, 255, 255);
  font-family: Arial;
  margin-left: 180px;
  margin-right: 240px;
  padding: 0 10px;
}

img {
  width:100%;
  height:auto;
}

